.html {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-image: url("./image-mistura-azul.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url("./Si-paro-el-tiempo.png"), lightgray 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
  height: 310px;
  width: 310px;
  border-radius: 25px;
  border: 1px solid #000;
  opacity: 0.92;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* height: 500px; */
  background: rgba(14, 46, 65, 0.541);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.buttonGroup {
  background-color: #284663c9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  height: 24rem;
  margin: 1rem;
  padding: 0 1rem;
}

.squareButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #000;
  width: 280px;
  height: 60px;
  border-radius: 20px;
  background: linear-gradient(
      0deg,
      rgba(126, 126, 126, 0.8) 0%,
      rgba(170, 170, 170, 0.7) 100%
    ),
    rgba(99, 99, 99, 0.363) 50% / contain no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem 0 1rem 0;
}

.square:active {
  position: relative;
  top: 3px;
}

.row {
  display: flex;
}
@media screen and (width: 912px) and (heigth: 1368) {
  .image {
    height: 600px;
    width: 600px;
  }
}

@media screen and (max-width: 370px) {
  .container {
    height: 100vh;
  }

  .image {
    width: 250px;
    height: 250px;
  }

  .buttonContainer {
    width: 100vw;
  }
  .buttonGroup {
    width: 90vw;
  }


  .square {
    width: 240px;
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    height: 100vh;
  }

  .image {
    height: 250px;
    width: 250px;
  }

  .imageContainer {
    padding: 2rem 0;
  }

  .buttonContainer {
    height: 50%;
  }
}

/* @media screen and (width: 280px) {

  .buttonContainer {
    width: 100vw;
  }

  .buttonGroup {
    width: 100vw;
  }

  .square {
    font-size: 20px;
    width: 230px;
  }
} */


