.html {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 896px;
  background-image: url("./image-mistura-azul.png");
  background-size: cover;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url("./Si-paro-el-tiempo.png"), lightgray 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #000;
  opacity: 0.9;
}

/* .bar {
  width: 100vw;
  height: 40px;
  background: rgba(10, 25, 51, 0.36);
} */

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 436px;
  background: rgba(16, 49, 68, 0.411);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.buttonGroup {
  background-color: #284663c9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  height: 24rem;
  margin: 1rem;
}

.squareButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

/* .spotiIMG {
  height: 55px;
  width: 55px;
} */
/* .square1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #000;
  width: 320px;
  height: 60px;
  border-radius: 20px;
  background: linear-gradient(
      0deg,
      rgba(126, 126, 126, 0.8) 0%,
      rgba(170, 170, 170, 0.7) 100%
    ),
    rgba(99, 99, 99, 0.363) 50% / contain no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.square1:hover {
  background: linear-gradient(to bottom, #bfbfbf27 5%, #5959593a 100%);
  background-size: 100%;
  background-color: #bfbfbf60;
  transform: scale(1.1);
} */

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #000;
  width: 320px;
  height: 60px;
  border-radius: 20px;
  background: linear-gradient(
      0deg,
      rgba(126, 126, 126, 0.8) 0%,
      rgba(170, 170, 170, 0.7) 100%
    ),
    rgba(99, 99, 99, 0.363) 50% / contain no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem;
}

/* .square2:hover {
  background: linear-gradient(to bottom, #bfbfbf27 5%, #5959593a 100%);
  background-size: 90%;
  background-color: #bfbfbf60;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.1);
} */

.square:active {
  position: relative;
  top: 2px;
}

/* .square3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #000;
  width: 320px;
  height: 60px;
  border-radius: 20px;
  background: linear-gradient(
      0deg,
      rgba(126, 126, 126, 0.8) 0%,
      rgba(170, 170, 170, 0.7) 100%
    ),
    rgba(99, 99, 99, 0.363) 50% / contain no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.square3:hover {
  background: linear-gradient(to bottom, #bfbfbf27 5%, #5959593a 100%);
  background-size: 80%;
  background-color: #bfbfbf60;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.1);
} */

.row {
  display: flex;
}
